@import '@fontsource/poppins/400.css';
@import '@fontsource-variable/jetbrains-mono';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-jetbrains-mono: 'JetBrains Mono Variable', monospace;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 214, 219, 220;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

/* Force hardware acceleration and preserve rounded background images in WebKit. */
.safari-fix {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}
